<div id="a">
    <div id="contenedor" class="row">
        <div id="imagen" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img id="fotodeperfil" src="../../../assets/img/fotoperfil.jpg" class="img-fluid">
        </div>
        <div id="infopersonal"class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Boscarino Bruno Gabriel</p>
            <p id="profesion">informatico</p>
        </div>
        <div id="presentacion"class="col-xs-12 col-sm-2 col-md-2 col-lg-8">
            <span>
                <h1>Sobre mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veniam iste repudiandae perspiciatis illum hic esse recusandae iure repellendus similique sequi, natus nihil ipsa vitae, nam quia, nisi mollitia sapiente.</p>
            </span>
        </div>
    </div>
</div>