.row{
    padding: 50px 25px 25px 25px;
}

div{
    background-color: #252525;
    text-align: center;
    color: azure;
}

span h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

span{
    margin-top: 30%;
    margin-left: 10px;
    font-size: 20px;
}

#nombre{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    margin-top: 25%;
    font-size: 28px;
}



#fotodeperfil{
        border-radius: 100%;
        border: 3px solid #fff;
    }

@media(max-width: 575px){
        #fotodeperfil{
            width: 100%;
            position: relative;
        }
    }

@media(max-width:767px){
    .row{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #infopersonal, #presentacion{
        width: 90%;
        font-size: 15px;
    }
    #imagen{
        margin-top: 20%;
        width: 50%;
    }
}

@media(max-width:992px){
    .row{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #infopersonal, #presentacion{
        width: 90%;
    }
    #nombre{
        font-size: 50px;
    }
    #profesion{
        font-size:25px;
    }
    #imagen{
        margin-top: 20%;
        width: 50%;
    }
    span{
        font-size: 30px;
    }
}

@media(min-width:993px){
    #imagen{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    }
}

