<div id="a">
    <div id="contenedor" class="row">
        <h1>Educacion Primaria</h1>
        <div id="infoPrimaria" class="col-lg-12">
            <ul>
                <li>
                    <h1>trabajo 1</h1> - <h3>años</h3>
                </li>
                <p>
                    Lorem, ipsum dolor sit amet consectetur 
                    adipisicing elit. Voluptatum, officiis 
                    mollitia! Nam porro ea voluptates, magni 
                    aspernatur quibusdam quis, ratione dolor 
                    quod asperiores quo nisi recusandae, 
                    est tempora laudantium voluptate!
                </p>
            </ul>
        </div>
        <h1>Educacion Secundaria</h1>
        <div id="infoSecundaria" class="col-lg-12">
            <ul>
                <li>
                    <h1>trabajo 1</h1> - <h3>años</h3>
                </li>
                <p>
                    Lorem, ipsum dolor sit amet consectetur 
                    adipisicing elit. Voluptatum, officiis 
                    mollitia! Nam porro ea voluptates, magni 
                    aspernatur quibusdam quis, ratione dolor 
                    quod asperiores quo nisi recusandae, 
                    est tempora laudantium voluptate!
                </p>
            </ul>
        </div>
    </div>
</div>